{% extends "layout.html" %}
{% block content %}

<h1>Tournament</h1>

<table>
    <tr>
        <th>Board</th>
        <th>Your Contract</th>
        <th>Declarer</th>
        <th>Tricks</th>
        <th>Your Score</th>
        <th>Official Score</th>
        <th>Diff</th>
        <th>IMPs</th>
        <th>Action</th>
    </tr>

    {% for b in boards %}
    <tr id="row-{{ b.BoardNumber }}">
        <td><a href="/board/{{ b.BoardNumber }}">{{ b.BoardNumber }}</a></td>

        <td><input id="contract-{{ b.BoardNumber }}"></td>
        <td><input id="decl-{{ b.BoardNumber }}"></td>
        <td><input id="tricks-{{ b.BoardNumber }}"></td>

        <td id="yourscore-{{ b.BoardNumber }}"></td>
        <td id="officialscore-{{ b.BoardNumber }}"></td>
        <td id="diff-{{ b.BoardNumber }}"></td>
        <td id="imps-{{ b.BoardNumber }}"></td>

        <button onclick="calculate('{{ b.BoardNumber }}')">Calc</button>
    </tr>
    {% endfor %}
</table>

{% endblock %}
